Repository AlejandraLLI/pds-2019, pull requests merged in 2019-12, with the labels that each got.

#37 Adding to_cleaned command in moma.py file
  moma/moma.py
Labels: python

#38 Adding ctx as argument of the to_cleaned command in the moma.py file
  moma/moma.py
Labels: python

#44 Issue 21
  moma/moma.py
  sql/to_cleaned.sql
Labels: SQL files

#48 explaining workflow in README.md file
  README.md
Labels: documentation

#56 correct comment in to_cleaned.sql file
  sql/to_cleaned.sql
Labels: SQL files

#58 completing README.md file
  README.md
Labels: documentation

#59 Adding create_features.sql file
  sql/create_features.sql
Labels: SQL files

#61 Adding events_artists_deaths table, corecting events_artworks_in tabl…
  sql/to_semantic.sql
Labels: SQL files

#65 editing create_schemas.sql file
  sql/create_schemas.sql
Labels: SQL files

#67 Adding create-cohorts and create-labels modules to moma.py file
  moma/moma.py
Labels: python

#69 First create_cohort
  sql/create_cohorts.sql
Labels: SQL files

#71 Sql script to create labels wihtout comments
  sql/create_labels.sql
Labels: SQL files

#73 modify semantic.entities table in to_semantic.sql file
  sql/to_semantic.sql
Labels: SQL files

#75 Adding the create_cohorts.sql file
  sql/create_cohorts.sql
Labels: SQL files

#77 correcting to_semantic.sql file
  sql/to_semantic.sql
Labels: SQL files

#79 Adding changes to create_cohorts.sql file. First merging entities and…
  sql/create_cohorts.sql
Labels: SQL files

#81 Adding indexes to create_cohorts.sql file
  sql/create_cohorts.sql
Labels: SQL files

#83 Adding create-cohorts and create-labels to the pipeline.sh file
  sh/pipeline.sh
Labels: sh

#84 Adding entity-relation diagram
  docs/Entity_Relation_Diagram.png
Labels: documentation

#86 adding features_aggregated.sql and features_entity_derived.sql
  sql/features_aggregated.sql
  sql/features_entity_derived.sql
Labels: SQL files

#88 modifying create_features.sql file
  sql/create_features.sql
Labels: SQL files

#92 Adding changes to .sh files and adding the process_data.sh file
  sh/create_pyenv_moma.sh
  sh/create_user_db_moma.sh
  sh/download_moma_data.sh
  sh/pipeline.sh
  sh/process_data.sh
Labels: sh

#93 Updating the README file until to-semantic.
  README.md
Labels: documentation

#95 completing README.md with create cohorts, labels, features
  README.md
Labels: documentation

#97 Adding changes to pipeline.sh
  sh/create_pyenv_moma.sh
  sh/pipeline.sh
Labels: sh

#99 Adding instructions to create python environment.
  README.md
Labels: documentation
